button {
  background-color: transparent;
  border: none;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light;
  height: 5.4rem;
  width: 100%;
  min-width: 20rem;
  font-size: var(--sz_btn);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: $anim;
  @include breakpoint(sm) {
    height: 4.2rem;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accent;
    border-radius: 2.8rem;
    transition: $anim;
  }

  &:disabled {
    filter: brightness(0.8);
    box-shadow: none !important;
    cursor: default;

    &:hover:after {
      transform: none;
    }
  }

  &:hover, &:focus, &:active {
    outline: none;
  }

  &:hover:after {
    transform: scale(1.01);
  }

  &:active:after {
    transform: scale(0.99);
  }

  &--download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 4.8rem;
    width: 100%;
    color: $accent;
    font-size: var(--sz_regular);

    &:after {
      border: 1px solid $accent;
      background-color: transparent;
    }

    @include breakpoint(sm) {
      height: 4rem;
    }
  }

  &__hint {
    position: absolute;
    bottom: -2rem;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: none;
    color: $error;
    font-size: var(--sz_input);
  }
  &--flying{
    position: fixed;
    z-index: 150;
    right: 2rem;
    bottom: 2rem;
    width: auto;
    padding: 0 3rem;
  }
}

.back {
  position: absolute;
  top: 4rem;
  left: 3rem;
  cursor: pointer;
  @include breakpoint(md) {
    top: 3rem;
    left: 2rem;
    width: 3.2rem;
  }
  @include breakpoint(sm) {
    top: 1.5rem;
  }
}

@mixin withIco {
  position: absolute;
  margin: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  right: 0;
  border-color: rgba($grey, 0.2);
  background-color: rgba($grey, 0.2);
  &:focus, &:hover {
    svg {
      transform: scale(0.9);
    }
  }
  svg {
    width: 2rem;
    transition: $anim;

    path {
      fill: $accent;
    }
  }
}

.link {
  cursor: pointer;
  color: $accent;
  text-decoration: underline;
  font-size: var(--sz_common);
  border-radius: 0.4rem;
  transition: $anim*2;

  &:focus, &:hover {
    outline: none;
    background-color: rgba($dark, 0.02);
  }

  &.with-action{
    @include withIco;
  }

  @include breakpoint(sm) {
    @include withIco;
  }
}

#coinbase {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
