.card{
  position: relative;
  padding: 9rem 7.5rem 5rem;
  color: $dark;
  border-radius: 2.5rem;
  background-color: $light;
  box-shadow: $shadow_step;
  @include breakpoint(md){
    padding: 6rem 5rem 4rem;
  }
  @include breakpoint(sm){
    padding: 4rem 3rem 3rem;
  }
  &__overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    background-color: rgba($dark, 1);
    opacity: 0;
    transition: $anim;
  }
  &--main{
    z-index: 2;
    width: 67%;
    @include breakpoint(md){
      width: 100%;
    }
  }
  &--secondary{
    z-index: 1;
    width: 33%;
    //min-height: 30rem;
    padding: 5.5rem 3rem;
    margin: 5rem 0;
    border-radius: 0 2.5rem 2.5rem 0;
    @include breakpoint(md){
      width: calc(100% - 5rem);
      margin: 0 auto;
      padding: 3rem 4rem;
      min-height: 0;
      border-radius: 0 0 2.5rem 2.5rem;
    }
    @include breakpoint(sm){
      width: 100%;
      margin-top: -3rem;
      padding: 5rem 3rem 3rem;
    }
    .card__overlay{
      border-radius: 0 2.5rem 2.5rem 0;
      @include breakpoint(md){
        border-radius: 0 0 2.5rem 2.5rem;
      }
    }
    p{
      margin: 0;
    }
  }
  &--scatter{
    padding: 6rem 3rem;
    @include breakpoint(md){
      padding: 3rem 4rem;
    }
    @include breakpoint(sm){
      padding: 5rem 3rem 3rem;
    }
  }
  &--accent{
    padding: 4rem 4rem 4rem 3rem;
    background-color: $accent;
    color: $light;
    max-width: 35rem;
  }
  &__content{
    font-size: var(--sz_regular);
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    margin: 5rem 0;
    .card--secondary{
      width: 100%;
      min-height: 0;
      margin: 0;
      &:not(:last-child){
        margin-bottom: 2rem;
      }
    }
  }
}
