.checkbox{
  display: flex;
  align-items: flex-start;
  user-select: none;
  margin: 1rem 0;
  transition: $anim;
  &__ico{
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 2px;
    border-radius: 3px;
    border: 1px solid $error;
    transition: $anim;
  }
  &:hover{
    cursor: pointer;
  }
  input{
    display: none;
  }
  svg{
    width: 2rem;
    height: 2rem;
    transform: translate3d(-0.3rem,-0.3rem,1px);
  }
  path{
    stroke-width: 4px;
    stroke-dasharray: 48px;
    stroke-dashoffset: 48px;
    transform-origin: 50% 50%;
    stroke: $light;
    transition: $anim;
  }
  &__label{
    position: relative;
    width: 100%;
    padding: 0 0 0 1rem;
    line-height: 1.3;
    font-size: var(--sz_common);
  }
  &--selected{
    .checkbox__ico{
      background-color: $error;
    }
    path{
      stroke-dashoffset: 0;
    }
  }
}
