
.coinbase{
  display: flex;
  justify-content: space-between;
  margin: -1rem;
  @include breakpoint(lg){
    flex-wrap: wrap;
    width: calc(100% + 2rem);
  }
  &--mobile{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @include breakpoint(sm){
      flex-direction: column;
      width: 100%;
      align-items: stretch;
    }
  }
  &__method{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: auto;
    min-width: 17.5rem;
    height: 7.5rem;
    margin: 1rem;
    padding: 1.5rem 1.2rem;
    color: $dark;
    border-radius: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    @include breakpoint(sm){
      margin: 1rem 0;
      height: 6rem;
      padding: 1rem;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.8rem;
      box-shadow: 0 0 1rem rgba($dark, 0.1);
      transition: $anim;
    }
    &:hover, &:focus, &:active{
      outline: none;
    }
    &:hover:before{
      transform: scale(1.01);
      box-shadow: 0 0 1.5rem rgba($dark, 0.1);
    }
    &:active:before{
      transform: scale(0.98);
      box-shadow: 0 0 0.8rem rgba($dark, 0.1);
    }
    &:disabled{
      background-color: rgba($dark, 0.05);
      cursor: default;
      &:before{
        box-shadow: none;
      }
    }
  }
  &__ico{
    margin-right: 1rem;
    path{
      stroke: $accent;
    }
  }
  &__heading{
    margin-top: 6rem;
    @include breakpoint(md){
      margin-top: 2rem;
    }
  }
  &__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--sz_btn);
    font-weight: 600;
    span{
      font-size: var(--sz_input);
      text-transform: none;
      font-weight: 400;
    }
  }
  &__price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 2rem;
  }
}


button.coinbase-commerce-button {
  border-radius: 6px;
  background-color: #0667D0;
  background: linear-gradient(#0667D0, #0655AB);
  color: white;
  height: 40px;
  font-size: 14px;
  font-family: Avenir Next, sans-serif;
  font-weight: 500;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  text-decoration: none;
  cursor: pointer;
}

button.coinbase-commerce-button:hover {
  background: #0666D0;
}
button.coinbase-commerce-button:active {
  background: #0655AB;
}
button.coinbase-commerce-button:focus {
  outline: none;
}
button.coinbase-commerce-button:disabled {
  background: #7D95B6;
  color: rgba(0,0,0,.4);
  cursor: not-allowed;
}

button.coinbase-commerce-button > span {
  color: white;
  font: normal 500 14px/20px -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  letter-spacing: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  white-space: nowrap;
}

div.commerce-loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(6, 103, 208, 0.05);
  border-radius: 100%;
  border-top-color: white;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  33% {
    transform: rotate(90deg);
  }
  66% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.coinbase-commerce-iframe-container {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99998;

  background-color: rgba(0, 0, 0, 0.5);
}

iframe.coinbase-commerce-iframe {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  height: 100%;
  width: 100%;
  border: none;
}

