footer{
  position: relative;
  padding: 10rem 0 6rem;
  .container{
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
  }
}

.copyright{
  text-align: center;
  font-size: var(--sz_common);
}


