input{
  background-color: transparent;
  border: 1px solid $grey;
  box-shadow: none;
  color: $dark;
  &:focus, &:hover{
    outline: none;
  }
}

.field{
  &__wrapper{
    position: relative;
    width: 100%;
    display: flex;
    margin: 4rem 0 3rem;
    @include breakpoint(sm){
      flex-direction: column;
      align-items: center;
      margin: 3rem 0 2rem;
      &.prv .field__input{
        padding-right: 5rem;
      }
    }

    &.action{
      .field__input{
        cursor: pointer !important;
      }
    }
    &.small{
      .field__input{
        height: 4rem;
      }
      &:before{
        width: 3.2rem;
        height: 3.2rem;
      }
    }
    &.lg-margin{
      margin: 4rem 0 5rem;
      @include breakpoint(sm){
        margin: 2rem 0;
      }
    }
    &.disabled{
      .link{
        z-index: 2;
      }
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      border-color: $grey transparent transparent $grey;
      border-style: solid;
      border-width: 4px;
      transform: rotateZ(-45deg) scale(0);
      transition: $anim;
      @include breakpoint(sm){
        width: 3.2rem;
        height: 3.2rem;
      }
    }
    &.success{
      &:before {
        border-color: $success transparent transparent $success;
        transform: rotateZ(-45deg) scale(1);
      }
      .field__hint{
        bottom: -2rem;
        opacity: 1;
        color: $success;
      }
    }
    &.error{
      &:before {
        border-color: $error transparent transparent $error;
        transform: rotateZ(-45deg) scale(1);
      }
      .field__hint{
        bottom: -2rem;
        opacity: 1;
        color: $error;
      }
    }
    .link{
      margin-left: 2rem;
      @include breakpoint(sm){
        margin-left: auto;
      }
    }
  }
  &__label{
    position: absolute;
    left: 3rem;
    top: -3rem;
    @include breakpoint(sm){
      top: -2rem;
      left: 2rem;
    }
  }
  &__input{
    flex: 1;
    height: 5rem;
    border-radius: 2.5rem;
    padding: 0 3rem;
    box-shadow: none;
    font-size: var(--sz_input);
    background-color: $light;
    @include breakpoint(sm){
      flex: none;
      width: 100%;
      height: 4rem;
      padding: 0 2rem;
    }
    &:disabled{
      border-color: rgba($grey, 0.2);
      background-color: rgba($grey, 0.2);
    }
  }
  &__hint{
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 3rem;
    font-size: var(--sz_input);
    @include breakpoint(sm){
      position: static;
      display: block;
      width: 100%;
      padding: 0 3rem;
    }
  }
}
