.loader{
  $duration: $anim*6;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2.5rem;
    width: 100%;
    height: 100%;
    background-color: rgba($light, 0.9);
  }
  span{
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    background-color: $accent;
    animation: loader $duration infinite ease-out;
    &:nth-child(1){animation-delay: $duration*0.2}
    &:nth-child(2){animation-delay: $duration*0.4}
    &:nth-child(3){animation-delay: $duration*0.6}
  }
}

@keyframes loader {
  100%{
    opacity: 0;
    transform: translateY(0.5rem);
  }
}
