*{
  box-sizing: border-box;
}

html, body{
  font-size: 10px;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: $light;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  margin: 0;
  background: url(../img/bg.png) top center no-repeat;
  background-size: cover;
  &.open-modal{
    position: absolute;
    overflow: hidden;
    padding-right: 17px;
    .btn--flying{
      right: 3.7rem;
      transform: translateY(10rem);
      animation: $anim flyUp forwards;
    }
  }
}

a, button, input, textarea{
  font-family: "Inter", sans-serif;
  color: $light;
}

a{
  text-decoration: none;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5rem 0 0;
  .container{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    transition: $anim*2;
  }
}

.captcha{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

@keyframes flyUp {
  100%{
    transform: translateY(0);
  }
}
