.payment{
  &__wrapper{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    &.active{
      z-index: 100;
      opacity: 1;
      .modal__body{
        animation: fadeOn $anim ease-in-out forwards;
      }
    }
  }
}

.modal{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba($dark, 0.4);
  &--eos{
    .modal__body {
      max-width: 65rem;
    }
    p.title{
      margin: 4rem 0 0;
    }
    .text{
      span{
        font-weight: 600;
        font-size: var(--sz_regular);
      }
    }
  }
  &__body{
    position: relative;
    z-index: 160;
    opacity: 0;
    transform: translateX(-2rem);
    margin: auto;
    .card{
      width: 100%;
    }
  }
  &__close{
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: drop-shadow(0 0 1rem rgba($dark, 0.3));
    svg{
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 3rem;
      height: 3rem;
      transition: $anim*2;
    }
    &:hover, &:focus{
      outline: none;
      svg{
        transform: rotate(90deg);
      }
    }
  }
}

@keyframes fadeOn{
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
