.step{
  position: relative;
  display: flex;
  align-items: flex-start;
  opacity: 0;
  transform: translate3d(0,-3rem,0);
  animation: fade $anim*3 ease-out forwards;
  @include breakpoint(md){
    flex-direction: column;
  }
  &:not(:last-of-type){
    margin-bottom: 6rem;
  }
  &.disable{
    animation: none;
    transition: opacity transform $anim*3;
  }
}

.backup{
  .checkbox{
    margin-bottom: 3rem;
    &__label{
      color: $error;
    }
    @include breakpoint(sm){
      margin: 0 0 2rem;
    }
  }
  @include breakpoint(sm){
    .text--lg{
      margin: 0;
    }
  }
}

.buy{
  align-items: stretch;
  .price{
    font-size: var(--sz_price);
    font-weight: bold;
    @include breakpoint(md){
      margin-left: 0.5rem;
    }
    &__card{
      .text--lg{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__row{
      @include breakpoint(md){
        margin: 0;
        &:not(:last-of-type){
          margin: 0 0 0.5rem;
        }
      }
    }
  }
  .btn{
    margin-top: auto;
  }
}

.final{
  &__confirmations{
    display: block;
    margin: 2rem auto 0;
    width: 100%;
    text-align: center;
  }
}

@keyframes fade {
  0%{
    opacity: 0;
    transform: translate3d(0,-3rem,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

