:root{
  --sz_heading: 3.2rem;
  --sz_price: 2.8rem;
  --sz_btn: 2.4rem;
  --sz_regular: 1.8rem;
  --sz_common: 1.6rem;
  --sz_input: 1.4rem;
  //@include breakpoint(lg){
  //  --sz_heading: 3.2rem;
  //  --sz_regular: 1.8rem;
  //  --sz_common: 1.6rem;
  //  --sz_input: 1.4rem;
  //}
  @include breakpoint(md){
    --sz_heading: 2.4rem;
    --sz_price: 2rem;
    --sz_btn: 2rem;
    --sz_regular: 1.6rem;
    --sz_common: 1.4rem;
    --sz_input: 1.2rem;
  }
  @include breakpoint(sm){
    --sz_heading: 1.8rem;
    --sz_price: 1.6rem;
    --sz_btn: 1.6rem;
    --sz_regular: 1.4rem;
    --sz_common: 1.2rem;
    --sz_input: 1.2rem;
  }
}

.text{
  font-size: var(--sz_common);
  &--secondary{
    color: rgba($dark, 0.6);
  }
  &--danger{
    color: $error;
  }
  &--success{
    color: $success;
  }
  &--lg{
    font-size: var(--sz_regular);
  }
  &--sm{
    font-size: var(--sz_input);
  }
}

.title{
  margin: 0 0 2rem;
  font-size: var(--sz_heading);
  text-transform: uppercase;
  font-weight: bold;
  @include breakpoint(sm){
    margin-bottom: 1rem;
  }
}
